
.modal-body .input-xxlarge {
  width: 400px;
}

.modal-body > h3 {
  text-align: center;
}

.modal-body > h3 > span {
  display: inline-block;
}

.modal-body > dl > dt {
  margin-top: 7px;
  padding-bottom: 20px;
}

.modal-body > dl > dd {
    margin-top: 7px;
    padding-bottom: 20px;
}

.modal-footer > a {
  padding-right: 20px;
  padding-top: 7px;
}
