<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CRUD</title>
	<!-- Stylesheets -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container" ng-controller="TodoController" ng-cloak>
		<div class="page-header">
			<h1>
				{{data.user}}'s To Do List
				<span class="label label-default" ng-class="warningLevel()"
				ng-hide="countIncompleteAction() == 0">
					{{countIncompleteAction()}}
				</span>
			</h1>
		</div>
		<div class="panel">
			<div class="input-group">
				<input class="form-control" ng-model="descriptionAction" />
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="addNewItem()">Add</button>
				</span>
			</div>
			<br/>
			<ng-include src="viewFile()"></ng-include>
			<!-- <table class="table table-striped">
				<thead>
					<tr>
						<th>Description</th>
						<th>Done</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in data.items | checkedItemsFilter:showComplete | orderBy:'action'">
						<td>
							<label ng-class="completeActionStatus(item)">
								{{item.action}}
							</label>
						</td>
						<td><input type="checkbox" ng-model="item.done" /></td>
					</tr>
				</tbody>
			</table> -->
			<br/>
			<div class="checkbox-inline">
				<label>
					<input type="checkbox" ng-model="showComplete" /> Show Complete
				</label>
			</div>
			<br/>
			<div class="checkbox-inline">
				<label>
					<input type="checkbox" ng-model="isUseListView" /> Use the list view
				</label>
			</div>
			<!-- <input class="btn btn-primary" type="button" value="todos" ng-click="getTodoList()" />
			<span ng-repeat="item in todos.items">
				{{item.action}}
			</span> -->
		</div> <!-- end of div class = panel -->
	</div> <!-- end of container -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js">
	</script>

	<script type="text/javascript">
    	/**
    	* Todo Module
    	*
    	* Description
    	*/
    	app = angular.module('todoApp', []);
    </script>
    <script src="scripts/controllers/TodoController.js">
    </script>
    <script src="scripts/filters/CheckedItemsFilter.js">
    </script>
</body>
</html>