<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8"
	<title>My website</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
</head>
<body>
	<div class="container">
		<div ng-controller="MainController">
			<img ng-src="{{event.imageUrl}}" alt="{{event.name}}" />
			<div class="row">
				<div class="spannll">
					<h2>{{event.name}}</h2>
				</div>
			</div>
			<div class="row">
				<div class="span3">
					<div><strong>Date: </strong>{{event.name}}</div>
					<div><strong>Date: </strong>{{event.time}}</div>
				</div>
				<div class="span4">
					<address>
						<strong>Address:</strong><br/>
						{{event.location.address}} <br/>
						{{event.location.city}}, {{event.location.province}}
					</address>
				</div>
			</div>
			<hr/>
			<h3>Sessions</h3>
			<ul class="thumbnails">
				<li ng-repeat="item in event.sessions">
					<div>
						<div ng-click="upVoteSession(item)"><strong>Up</strong></div>
						<div>{{item.upVoteCount}}</div>
						<div ng-click="downVoteSession(item)"><strong>Down</strong></div>
					</div>
					<h4 class="well-title">{{item.name}}</h4>
					<h6>Creator: {{item.creatorName}}</h6>
					<span>Duration: {{item.duration}}</span><br/>
					<span>Level: {{item.level}}</span>
					<p>{{item.desciption}}</p>
				</li>
			</ul>
		</div>
	</div>
	<script src="js/app.js"></script>
	<script src="js/controllers/MainController.js"></script>
	<script type="text/javascript">
		

	</script>
</body>
</html>

