<div class="inbox">
	<div class="inbox__count">
		You have {{ inbox.messages.length && inbox.messages.length || 'no' }} messages
	</div>
	<div ng-hide="!inbox.messages.length">
		<input type="text" class="inbox__search" ng-model="inbox.search" placeholder="Search by 'from' e.g TicketMaster" />
	</div>
	<ul class="inbox__list">
		<li ng-show="!inbox.messages.length">
			No messages! Try sending one to a friend.
		</li>
		<li ng-repeat="item in inbox.messages | filter:{ from: inbox.search}">
			<div class="inbox__list-info">
				<p class="inbox__list-from">from: {{ item.from }}</p>
				<p class="inbox__list-date">{{ item.date | date: 'yyyy/MM/dd' }}</p>
				<p class="inbox__list-subject">{{ item.subject }}</p>
			</div>
			<div class="inbox__list-actions">
				<a href="#" ng-click="inbox.goToMessage(item.id);">Read</a>
				<a href="#" ng-click="inbox.deleteMessage(item.id, $index);">Delete</a>
			</div>
		</li>
	</ul>
</div>